/* Global Declarations */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: content-box;

    font-family: Inter, Poppins, sans-serif;
    font-weight: 200;
}

/* ------------------------------- Global Styling --------------------------- */
body {
    background-color: #fffaff;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

h1, p, article, aside {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-size: 1.5em;
}

.buffer {
    flex: 0.5 3 auto;
}

main {
    position: relative;
    top: 50px;
    margin: 5px 5px;
}

section {
    margin: 50px 0px;
}

@media only screen and (max-width: 480px) {
    section {
        margin: 5px 0px;
    }
    h1 {
        text-align:center;
    }
}

.row-flex {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
}

.col-flex {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: column wrap;
}

/* ----------------------------- Navigation Bar ----------------------------- */
/* Set properties of navbar */
nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;

    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium;

    z-index: 10;
}

/* Additional specificity for buttons on navbar */
button {
    cursor: pointer;
    flex: 1 1 auto;
    justify-content: space-between;
    
    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium; 
}

/* Top left label on navbar centered and padded */
label {
    flex: 1 1 auto;
    padding: 15px 0px;
    justify-content: center;
}

/* Set styling of navbar buttons for current page */
.current-page {
   background-color: #fffaff; 
   color: #1a6cef;
}

/* Navbar Hover Functionality */


/* Navbar Responsive Functionality */
@media only screen and (max-width: 480px) {
    .current-page {
        width: 30%;
    }
    .noncurrent-page {
        display: none;
    }
    .contact, label {
        z-index:0;
    }
}

/* ----------------------------- Homepage ----------------------------- */

.right-align {
    text-align: right;
}

.gallery {
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* ------- Introduction ------- */

section.intro figure {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap; 
}

section.intro img {
    margin: 5px 0px;
    max-width: 25em;
    display: inline-flex;
    align-items: center;
}

section.intro figcaption {
    max-width: 700px;
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: left;
}

/* ------- Skills ------- */

section.skills article {
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-flow: column wrap;
}

section.skills aside {
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.skills .icons {
    max-height: 100px;
    max-width: 100px;
    margin: 15px 15px;
}

@media only screen and (max-width: 480px) {
    section.intro img {
        width: 100%;
        height: auto;
    }
}

/* ------- Projects ------- */

section.projects {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

section.projects img {
    max-height: 276px;
    max-width: 276px;
    margin: 5px 25px;
}

section.projects h1, section.projects a {
    margin: 5px 25px;
}

/* ------- Blog ------- */

