/* Global Declarations */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: content-box;

    font-family: Inter, Poppins, sans-serif;
    font-weight: 200;
}

/* ------------------------------- Global Styling --------------------------- */
body {
    background-color: #fffaff;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
}

h1, h2, p, article, aside {
    margin: 5px;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}

.buffer {
    flex: 0.5 3 auto;
}

main {
    position: relative;
    top: 50px;
    margin: 5px 5px;
}

section {
    margin: 50px 0px;
}

.row-flex {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
}

.col-flex {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.left-margin {
    margin-left: 20px;
}

.right-margin {
    margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 5px 5px;
    }
    h1, h2 {
        text-align: center;
    }
}

/* ------------------------ Navigation Bar ----------------------- */
/* Set properties of navbar */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;

    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium;

    z-index: 10;
}

/* Additional specificity for buttons on navbar */
button {
    cursor: pointer;
    flex: 1 1 auto;
    justify-content: space-between;
    
    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium; 
}

/* Top left label on navbar centered and padded */
label {
    flex: 1 1 auto;
    padding: 15px 0px;
    justify-content: center;
}

/* Set styling of navbar buttons for current page */
.current-page {
   background-color: #fffaff; 
   color: #1a6cef;
}

/* Navbar Hover Functionality */


/* Navbar Responsive Functionality */
@media only screen and (max-width: 480px) {
    .current-page {
        width: 30%;
    }
    .noncurrent-page {
        display: none;
    }
    .contact, label {
        z-index:0;
    }
}
/* ------------------------------ Footer ------------------------------ */

footer {
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background-color: #303036;
    position: relative;
}

/* ----------------------------- Homepage ----------------------------- */

.gallery {
    margin: 0px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* ------- Introduction ------- */

section.intro {
    height: calc(100vh - 60px); /* Account for header offset and margins */
    margin: 0px;
}

section.intro figure {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap; 
}

section.intro img {
    margin: 5px 5px;
    max-width: 25em;
    display: inline-flex;
    align-items: center;
}

section.intro figcaption {
    max-width: 700px;
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: left;
}
@media only screen and (max-width: 1024px) {
    section.intro {
        height: auto;
    }
}
/* ------- Skills ------- */

section.skills article {
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-flow: column wrap;
}

section.skills aside {
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.skills .icons {
    max-height: 100px;
    max-width: 100px;
    margin: 15px 15px;
}

@media only screen and (max-width: 1024px) {
    section.intro img {
        width: 100%;
        height: auto;
    }
}

/* ------- Projects ------- */

section.projects img {
    max-width: 300px;
    margin: 20px;
}

@media only screen and (max-width: 480px) {
    section.projects img {
        max-width: 100%;
        margin: 5px;
    }
    section.projects h2 {
        margin-left: 0px;
    }
    section.projects a {
        margin-right: 0px;
    }
}

/* ------- Blog ------- */

section.blog img {
    max-width: 400px;
    margin: 20px 20px 0px 20px;
}

section.blog a {
    margin-top: 20px;
}

@media only screen and (max-width: 480px) {
    section.blog img {
        max-width: 100%;
        margin: 5px;
    }
    section.blog h2 {
        margin-left: 0px;
    }
    section.blog a {
        margin-right: 0px;
    }
}