/* Global Styles */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: border-box;

    font-family: Inter, Poppins, sans-serif;
    font-weight: 200;
}

body {
    background-color: #fffaff;
}

/* Navigation Bar Styling and Positioning */
/* set grid properties of navbar */
nav {
    position: fixed;
    width: 100%;
    height: 50px;

    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium;

}

button {
    cursor:pointer;
    flex: 1 1 auto;
    justify-content: space-between;
    
    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium; 
}

label {
    flex: 1 1 auto;
    padding: 15px 0px;
    justify-content: center;
}

.buffer{
    flex: 1 3 auto;
}

/* set styling of navbar buttons for current page */
.current-page {
   background-color: #fffaff; 
   color: #1a6cef;
}

/* set styling of navbar buttons for non-current pages */
.noncurrent-page {

}

/* set grid properties of middle navbar sections */
.current-page,
.noncurrent-page {

}

.contact {

}

/* Navbar hover functionality */


@media only screen and (max-width: 480px) {
    nav {
        
    }
    .noncurrent-page {
        display: none;
    }


/* Homepage Positioning and Styling */
section {

}