/* Global Styles */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: border-box;

    font-family: Inter, Poppins, sans-serif;
    font-weight: 200;
}

/* --------------------------------------- */
/* Full document properties */
body {
    background-color: #fffaff;
}

.buffer {
    flex: 0.5 3 auto;
}

/* --------------------------------------- */
/* Navigation Bar Styling and Positioning */
/* Set properties of navbar */
nav {
    position: fixed;
    width: 100%;
    height: 50px;

    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium;
}

/* Additional specificity for buttons on navbar */
button {
    cursor:pointer;
    flex: 1 1 auto;
    justify-content: space-between;
    
    background-color: #303036;
    color: #fffaff;
    text-align: center;
    font-size: medium; 
}

/* Top left label on navbar centered and padded */
label {
    flex: 1 1 auto;
    padding: 15px 0px;
    justify-content: center;
}

/* Set styling of navbar buttons for current page */
.current-page {
   background-color: #fffaff; 
   color: #1a6cef;
}

/* Navbar Hover Functionality */


/* Navbar Responsive Functionality */
@media only screen and (max-width: 480px) {
    .current-page {
        width: 30%;
    }
    .noncurrent-page {
        display: none;
    }
    .contact, label {
        z-index:0;
    }
}

/* --------------------------------------- */
/* Homepage Positioning and Styling */
#home section.intro {
    position: relative;
    top: 50px;

    max width: 100vw;
    max height: 100vh;

    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap; 

    /* background-color: red; */
    

}

section.intro fig {
    margin: 100px 0px;
    
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap; 
}

section.intro img {
    margin: 10px 10px;
    max-width: 25em;
    display: inline-flex;
    align-items: center;
}

section.intro p {
    margin: 10px 10px;
    max-width: 700px;
    display: inline-flex;
    align-items: center;
    text-align: left;
}


@media only screen and (max-width: 480px) {
    section.intro fig {
        margin: 0px 10px;
    }
    section.intro img {
        width: 100%;
        height: auto;
    }
}