/* Global Declarations */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: content-box;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

/* ------------------------------- Global Styling --------------------------- */
body {
    background-color: #fffaff;
}

h1, h2, p, article, aside {
    margin: 5px;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}

.buffer {
    flex: 0.5 3 auto;
}

main {
    position: relative;
    top: 50px;
    margin: 0px 5px 0px 5px;
}

section {
    margin: 50px 0px;
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 5px 5px;
    }

    h2 {
        text-align: center !important;
    }
}

/* ------------------------------- Class Styling ------------------------------- */
.row-flex {
    display: flex;
    flex: 1 auto;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
}

.col-flex {
    display: flex;
    flex: 1 auto;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.left-margin {
    margin-left: 20px;
}

.right-margin {
    margin-right: 20px;
}

.curved {
    border-radius: 10px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
    opacity: 0%;
}

/* ------------------------ Navigation Bar ----------------------- */
/* Main Navbar Styling */
nav {
    position: fixed;
    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: center;

    background-color: #303036;
    color: #fffaff;
    text-align: center;

    z-index: 10;
}

/* --------------- Desktop --------------- */
/* Navbar Button Styling */
nav button, nav a {
    cursor: pointer;
    background-color: #303036;
    color: #fffaff;
    font-size: medium; 
    font-weight: 500;
    text-decoration: none;
    
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
}

/* Styling of top left logo on desktop */
.logo {
    flex: 1 auto;
    margin: 15px 0px;
    justify-content: center;
    font-weight: 500;
}

/* Navbar Current Page Styling */
.current-page {
    color: #1a6cef;
}

/* Navbar Hover Styling */
.highlight:hover {
    background-color: #fffaff;
    color: #303036;
    transition: all 0.5s;
}

/* --------------- Mobile --------------- */
/* Hover functionality on mobile wouldn't allow the dropdown links to be clicked.
The mobile menu dropdown button was written as a checkbox with a click-able label as a work-around.
It's the most beautiful thing ever. https://stackoverflow.com/questions/6293588/how-to-create-a-checkbox-with-a-clickable-label */

/* Menu and Contact Icon Styling */
svg.menu-icon, svg.menu-icon path, svg.mail-icon {
    flex: 1 auto;
    justify-items: center;
    align-items: center;
    fill: #fffaff;
    margin: 13px;
}

/* Menu Checkbox Visibility */
input.check {
    display: none;
}
#arrows {
    display: none;
}

/* Menu and Contact Icon Positioning */
.mobile {
    flex: 0 auto;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
}

/* Dropdown Menu Styling */
a.dropdown {
    display: flex;
    position: fixed;    
    background-color: #303036;
    width: 100vw;
    height: 50px;
    top: 48px;
}

/* Dropdown Menu Icon Behaviour */
input.check:checked + label > #burger {
    display: none;
}

input.check:checked + label > #arrows {
    display: block;
}

/* Dropdown Menu Content Behaviour */
input.check:checked ~ a {
    visibility: visible;
}

input.check:checked ~ a.d-1 {
    filter: brightness(110%);
    top: 50px;
    opacity: 100%;
    transition: top 0.1s 0.1s, opacity 0.3s 0.1s;
}

input.check:checked ~ a.d-2 {
    filter: brightness(120%);
    top: 100px;
    opacity: 100%;
    transition: top 0.15s 0.15s, opacity 0.3s 0.2s;
}

input.check:checked ~ a.d-3 {
    filter: brightness(130%);
    top: 150px;
    opacity: 100%;
    transition: top 0.2s 0.2s, opacity 0.3s 0.3s;
}

/* Mobile Responsive Behaviour */
@media only screen and (max-width: 480px) {
    .current-page {
        width: 30%;
    }
    .noncurrent-page {
        display: none;
    }
    .contact, .logo {
        display: none;
    }
    div.dropdown {
        display: flex;
    }
    div.mail {
        display: block;
    }
    span.buffer {
        display: none;
    }
}

/* ------------------------------ Footer ------------------------------ */

footer {
    margin-top: 100px;
    width: 100vw;
    min-height: 150px;
    background-color: #303036;
    position: relative;

    display: flex;
    flex: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.attributions {
    align-self: center;
    margin: 25px;
    font-size: 0.7em;
    color: #fffaff;
}

section.external-links {
    align-self: center;
    margin: 25px;
}

.svg path {
    fill: #fffaff;
    z-index: 10;
}

svg.svg {
    width: 35px;
    margin: 2.5px;
}

@media only screen and (max-width: 1024px) {
    footer {
        justify-content: center;
    }
}

/* ----------------------------- Homepage ----------------------------- */

.gallery {
    margin: 0px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* ------- Introduction ------- */

section.intro {
    height: calc(100vh - 60px); /* Account for header offset and margins */
    margin: 0px;
}

section.intro figure {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap; 
}

section.intro img {
    margin: 5px 5px;
    max-width: 25em;
    display: inline-flex;
    align-items: center;
}

section.intro figcaption {
    max-width: 700px;
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: left;
}
@media only screen and (max-width: 1024px) {
    section.intro {
        height: auto;
    }
}
/* ------- Skills ------- */

section.skills article {
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-flow: column wrap;
}

section.skills aside {
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.skills .icons {
    max-height: 100px;
    max-width: 100px;
    margin: 15px 15px;
}

@media only screen and (max-width: 1024px) {
    section.intro img {
        width: 100%;
        height: auto;
    }
}

/* ------- Projects ------- */

section.projects img {
    max-width: 300px;
    margin: 20px;
}

@media only screen and (max-width: 1024px) {
    section.projects img {
        max-width: 100%;
        margin: 5px;
    }
    section.projects a {
        margin-right: 0px;
    }
}

/* ------- Blog ------- */

section.blog figure {
    max-width: 400px;
    margin: 20px;
}

@media only screen and (max-width: 480px) {
    section.blog figure, section.blog img {
        max-width: calc(100vw - 40px);
    }
    section.blog figure {
        margin: 5px;
    }
    section.blog a {
        margin-right: 0px;
    }
}