/* Global Declarations */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: content-box;

    font-family: Inter,Arial,sans-serif;
    font-weight: 200;
}

/* ------------------------------- Global Styling --------------------------- */

a { text-decoration: none; color:#303036; }

a:visited { text-decoration: none; color:#303036; }
a:hover { text-decoration: none; color:#303036; }
a:focus { text-decoration: none; color:#303036; }
a:hover, a:active { text-decoration: none; color:#303036; }

body {
    background-color: #f1f2f9;
}

div {
    margin: 5px;
}

article {
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

.heading-link {
    font-size: 1.4em;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    text-align: center !important;
    padding-bottom: 5px;
}

.heading-link:hover {
    border-color: #303036;
    transition: border-color 0.5s;
}

.buffer {
    flex: 0.5 3 auto;
}

main {
    position: relative;
    top: 50px;
    margin: 0px 5px 0px 5px;
}

section {
    margin: 50px 0px;
}

img {
    margin: 20px;
}

figure {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

figcaption {
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 20px;
    }
    img {
        width: 100%;
        margin: 5px;
    }
}

@media only screen and (max-width: 480px) {
    section {
        margin: 20px 0px;
    }
}

/* ------------------------------- Class Styling ------------------------------- */
.row-flex {
    display: flex;
    flex: 1 auto;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.col-flex {
    display: flex;
    flex: 1 auto;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.flex-left {
    justify-content: flex-start;
    align-self: center;
}

.flex-right {
    justify-content: flex-end;
    align-self: center;
}

.flex-center {
    justify-content: center;
    align-self: center;
}

.curved {
    border-radius: 10px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
    opacity: 0%;
}

.full-para {
    max-width: 1400px;
}

.split-para {
    max-width: 700px;
}

.reversed {
    flex-wrap: wrap-reverse;
}

/* ------------------------ Navigation Bar ----------------------- */
/* Main Navbar Styling */
nav {
    position: fixed;
    width: 100vw;
    height: 50px;
    top: 0px;

    display: flex;
    justify-content: center;

    box-shadow: 0 2px 6px rgb(0 0 0 / 50%);

    background-color: #303036;
    color: #f1f2f9;
    text-align: center;

    z-index: 10;
}

/* --------------- Desktop --------------- */
/* Navbar Button Styling */

nav a { 
    font-size: medium; 
    font-weight: 500;
    text-decoration: none;
    
    display: inline-flex;
    flex: 1 auto;
    justify-content: center;
    align-items: center;
    height: 50px;

    color: #f1f2f9 !important;
}

/* Styling of top left logo on desktop */
.logo {
    flex: 1 auto;
    margin: 15px 0px;
    justify-content: center;
    align-self: center;
    font-weight: 500;
}

/* Navbar Hover Styling */
.highlight:hover {
    background-color: #f1f2f9;
    color: #303036 !important;
    transition: all 0.3s;
}

/* --------------- Mobile --------------- */
/* Hover functionality on mobile wouldn't allow the 
dropdown links to be clicked. The mobile menu dropdown 
button was written as a checkbox with a click-able label 
as a work-around. */

/* Menu and Contact Icon Styling */
svg.menu-icon, svg.menu-icon path, svg.mail-icon {
    flex: 1 auto;
    justify-items: center;
    align-items: center;
    fill: #f1f2f9;
    margin: 13px;
}

/* Menu Checkbox Visibility */
input.check {
    display: none;
}
#arrows {
    display: none;
}

/* Menu and Contact Icon Positioning */
.mobile {
    flex: 0 auto;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
}

/* Dropdown Menu Styling */
a.dropdown {
    display: flex;
    position: fixed !important;    
    background-color: #303036;
    width: 100vw;
    height: 50px;
    top: 48px;
}   

/* Dropdown Menu Icon Behaviour */
input.check:checked + label > #burger {display: none;}
input.check:checked + label > #arrows {display: block;}

/* Dropdown Menu Content Behaviour */
input.check:checked ~ a {visibility: visible;}

input.check:checked ~ a.d-1 {
    filter: brightness(110%);
    top: 50px;
    opacity: 100%;
    transition: top 0.1s 0.1s, opacity 0.3s 0.1s;
}

input.check:checked ~ a.d-2 {
    filter: brightness(120%);
    top: 100px;
    opacity: 100%;
    transition: top 0.1s 0.15s, opacity 0.3s 0.15s;
}

input.check:checked ~ a.d-3 {
    filter: brightness(130%);
    top: 150px;
    opacity: 100%;
    transition: top 0.1s 0.2s, opacity 0.3s 0.2s;
}

input.check:checked ~ a.d-4 {
    filter: brightness(140%);
    top: 200px;
    opacity: 100%;
    transition: top 0.1s 0.25s, opacity 0.3s 0.25s;
}

/* Mobile Responsive Behaviour */
@media only screen and (max-width: 480px) {
    .current-page {width: 30%;}
    .noncurrent-page {display: none;}
    .contact, .logo {display: none;}
    div.dropdown {display: flex;}
    div.mail {display: block;}
    span.buffer {display: none;}
}

/* ------------------------------ Footer ------------------------------ */

footer {
    margin-top: 100px;
    width: 100vw;
    min-height: 150px;
    background-color: #303036;
    position: relative;

    display: flex;
    flex: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.attributions {
    align-self: center;
    margin: 25px;
    font-size: 0.7em;
    color: #f1f2f9;
}

section.external-links {
    align-self: center;
    margin: 25px;
}

.svg path {
    fill: #f1f2f9;
    z-index: 10;
}

.svg {
    width: 35px;
    margin: 2.5px;
}

@media only screen and (max-width: 1024px) {
    footer {
        justify-content: center;
    }
}

/* --------------------------------------- Homepage ---------------------------------------- */

.gallery {
    margin: 0px;
}

/* ------- Introduction ------- */

section.intro {
    height: calc(100vh - 60px); /* Account for header offset and margins */
    margin: 0px;
}

section.intro img {
    margin: 5px 5px;
    max-width: 25em;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    section.intro {
        height: auto;
    }
}

/* ------- Skills ------- */

section.skills div.images {
    max-width: 500px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.skills .icons {
    max-height: 100px;
    max-width: 100px;
}

@media only screen and (max-width: 1024px) {
    section.intro img {
        width: 100%;
        height: auto;
    }
}

/* ------- Projects Gallery ------- */

section.projects img {
    max-width: 300px;
    flex: 1 1 auto;
}

@media only screen and (max-width: 480px) {
    section.projects img {
        max-width: 100%;
        margin: 5px;
    }
}

/* ------- Blog Gallery ------- */

section.blog .captioned {
    display: inline-flex;
    flex-flow: column wrap;
    justify-items: center;
    max-width: 400px;
    margin: 20px;
}

section.blog img {
    margin: 0px;
}

@media only screen and (max-width: 480px) {
    section.blog figure, section.blog img {
        max-width: calc(100vw - 40px);
    }
    section.blog figure {
        margin: 5px;
    }
}

/* --------------------------------------- Resume ---------------------------------------- */
a.download {
    display: inline-flex;
    align-items: center;
}

/* --------------------------------------- Projects ---------------------------------------- */
img.project-large {
    max-width: 400px;
}